html,
button,
input,
select,
textarea {
  color: $base-font-color;
  line-height: 1.7;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px dashed $app-medium-blue;
  margin: 1.5em $column 3.5em;
  padding: 0;
  @include media($bp-acorn) {
    margin: 1.5em 0 2.5em;
  }
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

body {
  line-height: 1.7;
}
.liner {
  font-size: 90%; // Adjust relative to $root-font-size on <html>
  @include media($bp-acorn) {
    font-size: 70%;
    line-height: 2.2;
  }
}

h1, h2, h3 {
  color: $app-dark-blue;
  line-height: 1.4;
  font-weight: 600;
  strong {
    color: $app-medium-blue;
    font-weight: 600;
  }
}
h1, h2 {
  text-align: center;
}
h1 {
  font-size: 3.333em;
  margin-bottom: 0.444em;
  @include media($bp-acorn) {
    font-size: 2.14em;
  }
}
h2 {
  font-size: 2.278em;
  margin-bottom: 1.333em;
  @include media($bp-acorn) {
    font-size: 143%;
    margin-bottom: 1em;
  }
}
h3 {
  font-size: 1.222em;

}

.button {
  @include button;
  box-shadow: none;
  border-top: solid transparent;
  border-width: 0 0 2px;
  font-size: 111%;
  font-weight: 700;
  text-shadow: none;
  @include media($bp-acorn) {
    width: 95%;
    text-align: center;
  }
  &.dark {
    background: none $app-medium-blue;
    border-bottom: solid $app-dark-blue;
    &:hover:not(:disabled) {
      color: #fff;
      background: none $app-dark-blue;
    }
  }
  &.light {
    color: $app-medium-blue;
    background: none #fff;
    border-bottom: solid rgba(95,95,95,1);
    &:hover:not(:disabled) {
      color: #fff;
      background: none $app-dark-blue;
    }
  }
  &:hover:not(:disabled) {
    box-shadow: none;
  }
}


/* 2D TRANSITIONS */
/* Grow */
.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.grow:hover, .grow:focus, .grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.narrow {
  // @include span-columns(6);
  // @include shift(3);
  @include rem(max-width, 520px);
  margin: auto;
}



#sidenav {
  @include media($bp-acorn) {
    display: none;
  }
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 999;
  background: $app-medium-blue;
  padding: 0.5em;
  border: solid 1px #fff;
  border-right: none;
  li {
    // list-style: disc;
    a {
      display: block;
      color: $app-dark-blue;
      &:hover {
        color: #fff;
      }
      &:not([class]):before {
        font-family: "SSSymbolicons";
        content: "\1F311";
        vertical-align: middle;
        font-size: 0.75em;
        padding-left: 0.175em;
      }
      &.home:before {
        font-size: 1.11em;
      }
    }
    &.current {
      a {
        color: #fff;
        cursor: default;
      }
    }
  }
  span {
    display: none;
    margin-left: 0.5em;
  }
  &:hover {
    span {
      display: inline-block;
    }
  }
}


.intro {
  position: relative;
  text-align: center;
  background: rgba(211,222,240,1);
  @include pointy(38px,rgba(211,222,240,1),down);
  color: $app-dark-blue;
  h2 {
    // @include rem(font-size, 33px);
    font-size: 1.833em;
    @include media($bp-acorn) {
      font-size: 1.43em;
    }
  }
  p {
    font-size: 120%;
    margin-bottom: 3em;
    @include media($bp-acorn) {
      margin-bottom: 1.5em;
    }
  }
  img {
    // @include rem(margin-bottom, 32px);
    margin-bottom: 1.778em;
  }
  .button {
    width: 100%;
    font-size: 129%;
    line-height: 275%;
  }
}


.large-left {
  aside {
    @include span-columns(7,12);
    @include media($bp-acorn) {
      @include span-columns($total-columns);
      margin-bottom: 0.75em;
    }
  }
  .copy {
    @include span-columns(5,12);
    @include media($bp-acorn) {
      @include span-columns($total-columns);
    }
  }
}

.fifty-fifty {
  .liner {
    > div {
      @include span-columns(6,12);
      h1, h2 {
        text-align: left;
      }
      @include media($bp-acorn) {
        @include span-columns($total-columns);
        h1, h2 {
          text-align: center;
        }
      }
    }
  }
}

header {
  .container {
    @include rem(padding-top, 30px);
    @include rem(padding-bottom, 30px);
    @include rem(line-height, 60px);
    color: $app-medium-blue;
  }
  .logo {
    float: left;
    @include rem(max-height, 60px);
  }
  nav {
    float: right;
    #menu-trigger {
      display: none;
    }
    a {
      display: inline-block;
      padding: 0 1em;
    }
  }
}


section,
footer
{
  @include rem(padding, 60px 0);
  @include media($bp-acorn) {
    @include rem(padding, 30px 0);
  }
}

.with-divider {
  .container {
    background: transparent url(../img/vertical-divider.png) center repeat-y;
    @include media($bp-acorn) {
      background-image: none;
    }
  }
}

.how-it-works {
  aside {
    @include rem(padding, 30px);
    border: solid 1px $base-border-color;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.18);
    @include media($bp-acorn) {
      margin-bottom: 2em;
    }
  }
  .copy {
    @include omega;
    @include media($bp-acorn) {
      margin-bottom: 1em;
    }

    background: linear-gradient(
      to right,
      #f6ba52,
      #f6ba52 10px,
      #ffd180 10px,
      #ffd180 20px
    );

    h3 {
      padding-left: 20%;
      background: #fff;
      @include media($bp-acorn) {
        padding-left: 0;
      }
    }
    p {
      float: right;
      width: 80%;
      @include media($bp-acorn) {
        @include span-columns($total-columns);
      }
    }
    .ss-icon {
      float: left;
      width: 20%;
      font-size: 3.33em;
      line-height: 1.4;
      color: $app-medium-blue;
      margin-top: 0.5em;
      @include media($bp-acorn) {
        @include span-columns($total-columns);
        margin-top: 0;
      }
    }
  }
}

.services {
  // TODO: Make sections decrease in z-index so arrows overlap visibly
  position: relative;
  text-align: center;
  background: $app-medium-blue;
  @include pointy(38px,$app-medium-blue,down);
  h2 {
    color: #fff;
  }
  ul {
    @include outer-container();
    padding: 2.75em 0;
    @include media($bp-acorn) {
      padding-bottom: 0;
    }
  }
  li {
    @include span-columns(2,12);
    font-size: 110%;
    line-height: 1.4;
    font-weight: 600;
    &:before {
      display: block;
      margin-bottom: 0.4em;
      font-size: 417%;
      line-height: 1;
      font-weight: normal;
      color: $app-light-blue;
    }
    @include media($bp-sapling) {
      @include span-columns(4,12);
      &:nth-child(3n+3) {
        @include omega;
      }
      &:before {
        margin-bottom: 0.2em;
      }
      margin-bottom: 3em;
    }
    @include media($bp-acorn) {
      font-size: 114%;
      @include span-columns(6,12);
      margin-bottom: 4em;
      &:nth-child(even) {
        @include omega;
      }
      &:before {
        margin-bottom: 0.2em;
      }
    }
  }
}

.plans {
  background: $light-grey;
  @include pointy(38px,$light-grey,down);
  li {
    float: left;
    width: 25%;
    padding-top: 3.25rem;
    text-align: center;
    position: relative;
    z-index: 2;
    @include media($bp-acorn) {
      @include span-columns($total-columns);
      padding-top: 0;
      margin-bottom: 1.43em;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }
    a {
      display: block;
      position: relative;
      background: #fff;
      border: solid $app-light-blue;
      border-width: 3px 3px 3px 0;
      padding-top: 2.2em;
      padding-bottom: 1em;
      color: $base-font-color;
      @include media($bp-acorn) {
        border: solid 1px #fff;
        padding-top: 3em;
      }
      .button {
        font-style: normal;
        padding-left: 2em;
        padding-right: 2em;
        width: 90%;
      }
      &:hover {
        .button {
          &.dark {
            background: none $app-dark-blue;
          }
          &.light {
            color: #fff;
            background: none $app-dark-blue;
          }
        }
        .membership-type {
          background: $app-dark-blue;
          @include media($bp-acorn) {
            background: $app-light-blue;
          }
        }
      }
    }
    &:first-child {
      a {
        border-width: 3px 0 3px 3px;
        @include media($bp-acorn) {
          border-width: 1px;
        }
      }
      strong {
        background-color: transparent;
      }
    }
    .membership-type {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      background: $app-light-blue;
      color: #fff;
      text-transform: uppercase;
      font-size: 100%;
      line-height: 2.15;
    }
    h3 {
      font-size: 100%;
      color: inherit;
    }
    p {
      margin-bottom: 0.6em;
    }
    strong {
      display: block;
      margin-top: 0.2em;
      background-color: rgba(151,151,151,1);
      color: #fff;
      font-weight: normal;
      @include media($bp-acorn) {
        line-height: 2.5;
        &.empty {
          display: none;
        }
      }
    }
    .button {
      font-size: 100%;
      line-height: 128%;
      min-width: 75%;
    }
    &.best {
      width: 50%;
      padding-top: 0;
      z-index: 1;
      @include media($bp-acorn) {
        @include span-columns($total-columns);
      }
      a {
        padding-top: 4.4em;
        background: $app-medium-blue;
        border: solid 1px #fff;
        color: #fff;
        @include media($bp-acorn) {
          padding-top: 4em;
        }
      }
      .membership-type {
        font-size: 111%;
        line-height: 1.95;
        @include media($bp-acorn) {
          font-size: 70%;
        }
      }
      h3 {
        font-size: 133%;
        @include media($bp-acorn) {
          font-size: 143%;
        }
      }
      p {
        margin-bottom: 1em;
        @include media($bp-acorn) {
          font-size: 143%;
        }
      }
      strong {    
        margin-top: 1.3em;
        background-color: rgba(79,170,109,1);
        @include media($bp-acorn) {
          font-size: 70%;
        }
      }
      .button {
        font-size: 133%;
        line-height: 1.58;
      }
    }
  }
}


.quote,
.stats
{
  h2 {
    text-align: left;
    @include media($bp-acorn) {
      text-align: center;
    }
  }
}
.quote {
  @include span-columns(6,12);
  @include media($bp-acorn) {
    @include span-columns($total-columns);
    padding-bottom: 1em;
    margin-bottom: 3em;
    border-bottom: solid 1px $medium-grey;
  }
  h2 {
    margin-bottom: 1.5em;
  }
  hr {
    margin-left: 0;
    margin-right: 0;
    border: solid $medium-grey;
    border-width: 1px 0;
    height: 9px;
  }
  img.quoted {
    float: left;
    width: 28%;
    margin-top: 2em;
    @include media($bp-acorn) {
      display: block;
      width: auto;
      float: none;
      margin: 0 auto 2em;
    }
  }
  blockquote {
    float: right;
    width: 68%;
    margin: 0;
    border: 0;
    padding: 0;
    @include media($bp-acorn) {
      width: auto;
      float: none;
    }
    p {
      font-size: 167%;
      line-height: 1.27;
      font-style: italic;
      @include media($bp-acorn) {
        font-size: 143%;
        line-height: 1.8;
      }
    }
  }
  cite {
    display: block;
    margin-top: 0.8em;
    padding-top: 0.8em;
    border-top: solid 1px $medium-grey;
    font-style: normal;
    &:before {
      display: none;
    }
    @include media($bp-acorn) {
      line-height: 243%;
    }
  }
  .rating {
    font-weight: 700;
    @include media($bp-acorn) {
      line-height: 200%;
    }
    .stars {
      font-weight: normal;
      color: $app-medium-blue;
    }
  }
}

.stats {
  @include span-columns(5,12);
  @include shift(1);
  @include media($bp-acorn) {
    @include span-columns($total-columns);
    @include shift(0);
  }
  li {
    &:before {
      color: $app-medium-blue;
      margin-right: 0.75em;
      vertical-align: middle;
    }
  }
  @include media($bp-acorn) {
    p {
      font-size: 114%;
    }
    li {
      font-size: 121%;
      &:before {
        font-size: 118%;
        margin-right: 1.5em;
      }
    }
  }
}

.brands {
  text-align: center;
  li {
    display: inline-block;
  }
  img {
    @include rem(max-height, 44px);
    @include rem(margin, 0 30px 76px);
  }
}

.final-cta {
  text-align: center;
  background: $app-medium-blue;
}

footer {
  background: $app-dark-blue;
  .container {
    p {
      font-size: 78%;
      line-height: 1.4;
      @include media($bp-acorn) {
        font-size: 100%;
      }
    }
  }
  .contact-info {
    position: relative;    
  }
  img {
    display: block;
    &.logo-myus {
      margin-bottom: 1.2em;
    }
    &.award {
      float: left;
      margin-left: 2em;
      @include media($bp-acorn) {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
      }
    }
  }
  p {
    float: left;
  }
  a {
    color: #fff;
    &:hover {
      color: #fff;
      background: $app-light-blue;
      // text-decoration: underline;
    }
  }
}

.services,
.final-cta,
footer
{
  .container {
    > * {
      color: #fff;
    }
  }
}
