html {
  height: 100%;
  font-size: $base-font-size;
}
body {
  height: 100%;
  text-align: left;
}

// .page-wrapper {
//   // This exists to give the page a white background and allow footer to travel to bottom of browser window even on short pages.
//   background: #fff image-url("bg_tile_static.png") center repeat;
// }


// ======================================
// Header
// ======================================
header {

  .logo {
    img {
    }
  }

  a {
    @include transition (all 0.2s ease-in-out);
  }

}

.container {
  @include outer-container;
  //@include reset-container;
  overflow: hidden;
  padding: 0 0.625em;
}

.foo {
  position: absolute;
  z-index: 20;
  width: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

footer {
}

