
#sidenav {
  @include media($bp-acorn) {
    display: none;
  }
  position: fixed;
  z-index: 999;
  left: 100%;
  top: 25%;
  margin-left: -3em;
  z-index: 999;
  background: $app-medium-blue;
  border: solid 1px $app-light-blue;
  border-right: none;
  ol {
    padding: 1em;
  }
  li {
    a {
      display: block;
      color: $app-dark-blue;
      &:hover {
        color: #fff;
      }
      &:before {
        vertical-align: bottom;
        margin-right: 1em;
      }
      &:not([class]):before {
        font-family: "SSSymbolicons";
        content: "\1F311";
        font-size: 0.75em;
        padding-left: 0.175em;
      }
      &.home:before {
        font-size: 1.11em;
        vertical-align: text-top;
      }
    }
    &.current {
      a {
        color: #fff;
        cursor: default;
      }
    }
    span {
      display: none;
    }
  }
  &.open
  // ,
  // .no-touch &:hover
  {
    left: auto;
    right: 0;
    margin-left: 0;
    li {
      span {
        display: inline-block;
      }
    }
  }
  #sidenav-trigger {
    display: none;
    cursor: pointer;
    margin-left: 0;
    background: #fff;
    padding: 0 0.5em 0 1em;
    color: $app-dark-blue;
    &:before {
      font-family: "SSSymbolicons";
      content: "\25C5";
      font-size: 0.9em;
    }
    &:hover {
      color: $app-medium-blue;
    }
  }
  @include media($bp-grove) {
    #sidenav-trigger {
      display: block;
    }
    &.open {
      // transform: translate(0, -50%);
      @include transform(translate(0, -50%));
      #sidenav-trigger {
        &:before {
          content: "\25BB";
        }
      }
    }
  }
}

.no-touch {

  #sidenav {

    //undo defaults for non-csstransforms compatible browsers
    left: auto;
    right: 0;
    top: 50%;
    // transform: translate(80%, -50%);
    @include transform(translate(80%, -50%));
    transition: all 0.2s linear;
    vertical-align: middle;
    margin-left: 0;
    li {
      span {
        display: inline-block;
      }
    }
    &.open,
    &:hover
    {
      right: 0;
      // transform: translate(0, -50%);
      @include transform(translate(0, -50%));
    }

  }
} // .no-touch
