// colors
// $app-orange: rgba(235,160,80,1);
// $app-dark-orange: rgba(158,108,54,1);
// $app-blue-10: rgba(211,222,240,1); // intro background
$app-light-blue: rgba(162,197,238,1); // benefits icons
$app-medium-blue: rgba(77,126,196,1); // headings highlight / button background
$app-dark-blue: rgba(32,50,102,1); // headings

$golden-brown: rgba(129,85,49,1);
$emerald-green: rgba(79,170,109,1);

// greyscales
$light-grey: rgba(218,218,218,1);
$medium-grey: rgba(166,166,166,1);

// assignments
$base-font-color: #000;
$base-accent-color: $app-medium-blue;

$base-link-color: $app-medium-blue;
$hover-link-color: $app-dark-blue;

$base-border-color: #f5f5f5;

// Flash Colors
$error-color: red;
$notice-color: yellow;
$success-color: $emerald-green;

