// colors
$app-orange: rgba(235,160,80,1);
$app-dark-orange: rgba(158,108,54,1);
// $app-blue-10: rgba(211,222,240,1); // intro background
$app-light-blue: rgba(162,197,238,1); // benefits icons
$app-medium-blue: rgba(77,126,196,1); // headings highlight / button background
$app-dark-blue: rgba(32,50,102,1); // headings

// greyscales
$light-grey: #ededed;
$mushroom: #c9c9c9;
$blue-grey: #a8b3ba;
$medium-grey: #666;
$dark-grey: #525251;
$almost-black: #3f3f3f;

// assignments
$text-color: $medium-grey;
$link-color: $app-orange;
