// colors
$app-orange: #f7883e;

// greyscales
$light-grey: #ededed;
$mushroom: #c9c9c9;
$blue-grey: #a8b3ba;
$medium-grey: #666;
$dark-grey: #525251;
$almost-black: #3f3f3f;

// assignments
$text-color: $medium-grey;
$link-color: $app-orange;
